<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
      }
      img {
        margin-top: 50px;
        max-width: 100%;
        width: 150px;
        height: 150px;
      }
      p {
        font-weight: bold;
        margin-top: 20px;
        font-size: 20px;
        color: #666;
      }
    </style>
  </head>
  <body>
    <img src="images/not-found.png" alt="Not Found" />
    <p>Aradığınız sayfa yok veya taşınmış 😔</p>
  </body>
</html>
